.imprintContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #00015e;
  padding: 20px 16px;
  min-height: 80dvh;
}

.imprintContent {
  max-width: 1440px;
  width: 100%;
  padding: 40px 16px;
}

.imprintContent h1 {
  font-size: 20pt;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: .5rem;

  font-style: normal;
  font-weight: 600;
  color: inherit;
  text-rendering: optimizeLegibility;
}

.imprintContent h2 {
  font-size: 18pt;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: .5rem;

  font-style: normal;
  font-weight: 600;
  color: inherit;
  text-rendering: optimizeLegibility;
}

.imprintContent p {
  margin-bottom: 1rem;
  font-size: inherit;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
}