.newPasswordContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 232px);
    width: 100%;
    color: #00015e;
  }
  
  .newPasswordContent {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1440px;
    width: 100%;
    padding: 40px 16px;
    gap: 24px;
  }
  
  .newPasswordFormContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .newPasswordFormContent h1 {
    font-size: 40px;
  }
  
  .formElements {
    display: grid;
    gap: 1rem;
    width: 500px;
  }
  
  .newPasswordButton {
    background-color: #00015e;
  }
  
  .newPasswordButton:hover {
    background-color: #2cf599;
    color: #00015e;
  }
  
  .fieldLabel {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  
  .fieldLabel p {
    font-size: 0.875rem;
  }
  
  @media (max-width: 570px) {
    .formElements {
      width: 100%;
    }
  }
  
  @media (max-width: 380px) {
      .newPasswordFormContent h1 {
          font-size: 30px;
        }
    }